@model IEnumerable<Persona>
@{
	ViewData["Title"] = "Listado de personas";
}

<div class="container-fluid">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1 class="text-center text-primary">
                            Listado de Personas
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header text-center text-bold">
                    Registro de Nuevas Personas
                </div>
                <div class="card-body">
                    <button class="btn btn-primary">
                        <a asp-controller="Persona" asp-action="Crear" class="nav-link text-black">
                            <i class="fas fa-plus-circle" style="color: black; font-size: 20px"></i>
                            Agregar Persona
                        </a>
                    </button>
                </div>
            </div>
            <div class="table-responsive">   
                <table class="table table-striped table-info table-hover" id="dtPersonas">
                    <thead>
                        <tr>
                            <th>
								@Html.DisplayNameFor(model => model.Id)
                            </th>
							<th><
								@Html.DisplayNameFor(model => model.PrimerNombre)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Apellido)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Telefono)
							
							<th>
								@Html.DisplayNameFor(model => model.Email)
							</th>
                            <th>
                                    @Html.DisplayNameFor(model => model.Edad)
                            </th>
							<th>Options</th>

                        </tr>
                    </thead>
                    <tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Id)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.PrimerNombre)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Apellido)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Telefono)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Email)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Edad)
								</td>
								<td>
									<a asp-controller="Persona" asp-action="Editar" asp-route-id="@item.Id" class="btn btn-warning">
										<i class="fas fa-edit"></i>
									</a>
									<a asp-controller="Persona" asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-danger">
										<i class="fas fa-trash"></i>
									</a>
								</td>
							</tr>
						}
                    </tbody>

                </table>
				<form>	
					<input hidden id="idPersona" name="Id" value="" />
				</form>
            </div>
        </div>
    </section>
</div>

<script>
	//cargar  data table
	window.onload = function () {
		$(document).ready(function () {
			$('#dtPersonas').DataTable({
			"Lenguage":{
				"url":"//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
			},
			"aLengthMenu":[
				[Int16Array, 25, 50, -1],
				["10", "25", "50", "Todos"]
			]

		});
		});
		
	}
</script>

